@tailwind base;
@tailwind components;
.btn {
  @apply rounded-full m-2
  bg-cyan-900 
  pl-2 
  pr-2 
  font-normal
 text-white
 after:bg-cyan-900
 hover:bg-cyan-800
 hover:underline;
}

@tailwind utilities;

/* WebKit-based browsers */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

/* Mozilla Firefox */
::-moz-scrollbar {
  width: 5px;
}

::-moz-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

/* Microsoft Edge and Internet Explorer */
::-ms-scrollbar {
  width: 5px;
}

::-ms-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
